.CompaniesDetail--page-title {
  color: #255463;
}

.CompaniesDetail--info-card-container {
  background-color: #a2d299;
  padding: 2rem 0;
}

.CompaniesDetail--company-admin-detail-container {
  background-color: #dbf0f6;
  padding: 1rem 0;
}

.CompanyInfoCard--info-card {
  background-color: #fff;
  max-width: 90%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
}

.CompanyInfoCard--info-card header {
  border-bottom: 1px solid #dedede;
  padding: 0 0 1rem 0;
}

.CompanyInfoCard--info-card header h1,
.CompanyInfoCard--company-id-display label,
.CompanyInfoCard--company-id-display span {
  font-weight: 300;
  margin-right: 5px;
}

.CompanyInfoCard--company-id-display {
  color: #44a5ff;
  display: flex;
  justify-content: space-between;
}

.CompanyInfoCard--projects-num-display {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 5px;
}

.CompanyInfoCard--projects-section {
  margin-top: 3rem;
}

.CompanyInfoCard--projects-num-display label {
  margin-bottom: 0;
}

.CompanyInfoCard--projects-active {
  display: flex;
}

.CompanyInfoCard--projects-active div {
  text-align: right;
  padding: 0 0.5rem;
}
.CompanyInfoCard--projects-active div:first-child {
  border-right: 2px solid #e2e2e2;
}

.CompanyInfoCard--projects-active div:first-child h5 {
  color: #73ddff;
}

.CompanyInfoCard--projects-active div:last-child h5 {
  color: #c0ced6;
}
.CompanyInfoCard--projects-section h4 {
  border-bottom: 1px solid #dedede;
  padding-bottom: 0.5rem;
}

.CompanyInfoCard--admin-contact-section h6 {
  color: #68c9ff;
  font-weight: 400;
  border-bottom: 1px solid #dedede;
  padding: 1rem 0 0.5rem 0;
  max-width: 10rem;
}

.CompanyInfoCard--admin-detail li {
  margin-bottom: 0.5rem;
}

.CompanyInfoCard--admin-detail li,
.CompanyInfoCard--contact-detail li {
  font-size: 16px;
  font-weight: 200;
}

.CompanyInfoCard--contact-detail span {
  margin-right: 4px;
}

.CompanyInfoCard--client-contact-title {
  font-style: italic;
}

.CompanyInfoCard--contact-detail label {
  text-transform: italic;
}

.CompanyInfoCard--admin-contact-section ul {
  list-style: none;
  padding: 0;
}

.CompanyInfoCard--projects-section ul {
  list-style: none;
  padding: 0;
}

.CompanyInfoCard--projects-section li {
  /* animation: 4s linear 0s 2 show-projects; */
  margin: 1rem 0;
}

.CompanyInfoDetail--project-progress-bar-wrapper {
  box-shadow: inset -1px 4px 7px 0px #9b9b9b;
  height: 1.5rem;
  border-radius: 12px;
}
.CompanyInfoDetail--project-progress-bar {
  height: 1.5rem;
  border-radius: 12px;
  background: rgb(37, 74, 214);
  background: linear-gradient(
    90deg,
    rgba(37, 74, 214, 1) 0%,
    rgba(147, 242, 255, 1) 100%
  );
}

.CompanyInfoDetail--project-detail {
  background-color: #def2fe;
  padding: 1rem;
  border-radius: 5px;
  /* max-height: 230px; */
  display: flex;
  flex-direction: column;
  max-width: 295px;
  height: 100%;
  justify-content: space-between;
}

.CompanyInfoDetail--project-detail h6 {
  font-weight: 300;
}

.CompanyInfoDetail--hours-label {
  color: #808080;
  font-weight: 900 !important;
}

.CompanyInfoDetail--project-progress-bar-container span {
  color: #808080;
  font-weight: 400;
}

.CompanyInfoDetail--hours-heading label {
  font-weight: 400;
}

.CompanyInfoDetail--hours-heading {
  display: flex;
  justify-content: space-between;
}

.CompanyInfoDetail--hours-heading span:first-child {
  text-align: left;
}
.CompanyInfoDetail--hours-heading span:last-child {
  text-align: right;
}

/* Styles for Projects that are under time constraint - reaching or met projected hours */

.CompanyInfoCard--project-detail_over-billed > .CompanyInfoDetail--hours-label {
  color: #ce7b7b;
}

.CompanyInfoCard--project-detail_over-billed {
  background-color: #ffe3dd;
}

.CompanyInfoCard--project-detail_over-billed-progress-bar {
  background: linear-gradient(
    90deg,
    rgba(237, 166, 101, 1) 0%,
    rgba(255, 121, 112, 1) 100%
  );
}

.CompanyInfoCard--project-detail-not-billed {
  background-color: #eaeaea;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .CompanyInfoCard--info-card header {
    display: flex;
    justify-content: space-between;
  }

  .CompanyInfoCard--company-id-display {
    justify-content: unset;
  }

  .CompanyInfoCard--admin-contact-section {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .CompanyInfoCard--contact-detail {
    border-left: 3px solid #dedede;
    padding-left: 1rem;
  }

  .CompanyInfoCard--projects-section ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1rem;
  }

  .CompanyInfoCard--admin-contact-section h6 {
    width: 70%;
  }
}

@media only screen and (min-device-width: 1024px) {
  .CompanyInfoCard--info-card header {
    display: flex;
    justify-content: space-between;
  }

  .CompanyInfoCard--company-id-display {
    justify-content: unset;
  }

  .CompanyInfoCard--admin-contact-section {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .CompanyInfoCard--contact-detail {
    border-left: 3px solid #dedede;
    padding-left: 1rem;
  }

  .CompanyInfoCard--projects-section ul {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .CompanyInfoCard--admin-contact-section h6 {
    width: 70%;
  }

  .CompanyInfoCard--projects-section ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1rem;
  }
}

/* For animation fo project articles at bottom of company info card */
@keyframes show-projects {
  from {
    /* pushes element down past the viewport */
    transform: translateX(-110vw);
  }
  to {
    /* returns element to its default position */
    transform: translateX(0);
  }
}
