/* .ControlCenter--container {
  width: 100vw;
} */

.ControlCenter--container header {
  padding: 1rem;
}

.ControlCenter--page-title {
  color: var(--kashtech_operations--main-blue);
  margin: 0 0 0 1rem;
}

.ControlCenter--mobile-company-selector {
  border: 3px solid var(--kashtech_operations--main-blue);
  border-radius: 5%;
  margin-left: 2rem;
}

.ControlCenter--selected-company-heading {
  text-align: center;
  margin-top: 1rem;
}

/* Hide sidebar selector on mobile version */
.ControlCenter--desktop-sidebar {
  display: none;
}

.ControlCenter--tabs-container {
  width: 100%;
  padding: 0;
  margin: -1px;
  list-style: none;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.ControlCenter--tab {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 45px;
}

.ControlCenter--tab-active span {
  -webkit-box-shadow: 0px 12px 25px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 12px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 12px 25px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 0;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ControlCenter--tabs-container li:hover {
  height: 50px;
  cursor: pointer;
}

.ControlCenter--tab-not-active {
  height: 45px;
  color: var(--kashtech_operations--blue-darken1);
  background-color: #a2c9d5;
  z-index: 0;
}

.ControlCenter--tab-active {
  height: 55px !important;
  background-color: var(--kashtech_operations--blue-darken1) !important;
  color: #a2c9d5 !important;
  z-index: 4;
}

.ControlCenter--KPI-section-container-active {
  background-color: var(--kashtech_operations--blue-darken1);
}

.ControlCenter--KPI-section-wrapper {
  padding: 1rem 0;
}

.ControlCenter--KPI-section-container article {
  color: var(--kashtech_operations--blue-darken1);
  background-color: #a2c9d5;
  width: 75%;
  height: 15rem;
  margin: 0.5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
  box-shadow: -10px 1px 15px rgba(0, 0, 0, 0.4);
}

.ControlCenter--chart-section-wrapper {
  background-color: #76dda6;
  padding: 2rem 0;
}

.ControlCenter--chart-section-wrapper div {
  width: 85%;
  background-color: #b9e1ed;
  margin-bottom: 1rem;
  margin: 0 auto 1rem auto;
  border-radius: 5%;
  box-shadow: -10px 1px 15px rgba(0, 0, 0, 0.4);
}

/* @media only screen and (min-device-width: 280px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 1) {
} */

@media only screen and (min-device-width: 568px) and (max-device-width: 768px) {
  .ControlCenter--KPI-section-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .ControlCenter--KPI-section-wrapper {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .ControlCenter--desktop-sidebar {
    display: block;
  }
  .ControlCenter--mobile-company-selector {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .ControlCenter--KPI-section-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
