.EmployeesDetail--upper-section-holder {
  padding: 1.5rem 1rem;
  width: 100%;
}

.EmployeesDetail--page-title {
  font-size: 2rem !important;
  width: 100%;
}

.EmployeesDetail--return-link-holder a {
  display: flex;
  background-color: #dbf0f6;
  /* background-color: #f6f8f9; */
  color: #255463;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  text-decoration: none;
}

.EmployeesDetail--return-link-holder a p {
  text-decoration-line: none;
}

.EmployeesDetail--tabs-container {
  width: 100%;
  padding: 0;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.EmployeesDetail--tab {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 45px;
}

.EmployeesDetail--tab-active span {
  -webkit-box-shadow: 0px 12px 25px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 12px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 12px 25px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 0;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EmployeesDetail--tabs-container li:hover {
  height: 50px;
  cursor: pointer;
}

.EmployeesDetail--tab-not-active {
  height: 45px;
  z-index: 0;
}

.EmployeesDetail--tab-active {
  height: 55px !important;
  z-index: 4;
}

.EmployeesDetail--card-tab {
  background-color: #a2d299;
}

.EmployeesDetail--card-tab span {
  color: #2a8519;
}

.EmployeesDetail--table-tab {
  background-color: #ffe1bd;
}

.EmployeesDetail--table-tab span {
  color: #ff981c;
}

.EmployeesDetail--company-admin-tab {
  background-color: #dbf0f6;
  color: #255463;
}

.EmployeesDetail--info-card-container {
  background-color: #a2d299;
  padding: 1.5rem 0.5rem;
}

.EmployeeInfoCard--section-container {
  background-color: #fff;
  max-width: 90%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
  -moz-box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
  box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
}

.EmployeeInfoCard--employee-name {
  font-weight: 300;
}

.EmployeeInfoCard--employee-id {
  color: #f57407;
  font-weight: 300;
}

.EmployeeInfoCard--employee-username {
  font-weight: 300;
}

.EmployeeInfoCard--employee-id label,
.EmployeeInfoCard--employee-username label {
  font-weight: 300;
}

.EmployeeInfoCard--section-container label {
  margin-right: 5px;
}

.EmployeeInfoCard--employee-type span {
  margin-left: 5px;
  color: #f57407;
  font-weight: 600;
}

.EmployeeInfoCard--employee-contact-info-section ol {
  list-style: none;
  padding-left: 0;
}

.EmployeeInfoCard--employee-email {
  word-wrap: break-word;
}

.EmployeeInfoCard--employee-hours-billed-section {
  border-bottom: 2px solid #c5c5c5;
}

.EmployeesDetail--table-detail-container {
  background-color: #ffe1bd;
  padding: 1rem 0;
}

.EmployeesDetail--company-admin-detail-container {
  background-color: #dbf0f6;
  padding: 1rem 0;
}

.report-container.UsersReport--report-container {
  width: 90%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
  -moz-box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
  box-shadow: 0px 12px 25px 2px rgba(197, 197, 197, 0.4);
}

.EmployeesDetail--table-detail-container .MuiDataGrid-toolbarContainer button {
  color: #ff981c;
}

.CompanyAdminInfoCard--employee-detail-section-container {
  list-style: none;
  padding-left: unset;
}

.CompanyAdminInfoCard--employee-detail-section {
  border-bottom: 2px solid #ccc;
  margin: 1rem;
  padding-bottom: 0.5rem;
}

.CompanyAdminInfoCard--employee-name {
  font-weight: 900;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .EmployeeInfoCard--employee-detail-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .EmployeeInfoCard--employee-detail-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .EmployeeInfoCard--employee-contact-info-section ol {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}
