.kash-operations--home-page-main {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  min-height: 96vh;
  margin-top: 1rem;
}

a {
  color: unset;
}
.kash_operations_home--top-banner {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding: 0 2rem;
  align-items: center;
  /* margin-bottom: 3rem; */
}
.kash_operations_home--title {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  line-height: 1.06;
  color: #356575;
}
.kash_operations_home--user-welcome-msg {
  font-size: 0.8rem;
  flex-basis: 20%;
}
.kash_operations_home--catgories-holder {
  position: relative;
  width: clamp(300px, 70vw, 600px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  min-height: 60vh;
  align-items: center;
}
.kash_operations_home--main-card--wrapper {
  flex-basis: 33%;
  position: relative;
  z-index: 2;
  width: 65%;
  max-width: 232px;
}
.kash_operations_home--main-card {
  flex-basis: 33%;
  /* position: relative; */
  height: clamp(215px, 9vw + 15vh, 340px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5rem var(--card-holder-color) solid;
  border-radius: 0.5rem;
  box-shadow: 2px 8px 13px hsla(0 0% 0% / 25%);
  background-color: hsl(0 100% 100% / 20%);
  backdrop-filter: blur(2px);
  text-decoration-line: none;
  transition: transform 0.2s cubic-bezier(0.53, -0.07, 0.86, 0.57);
  transform-origin: center center;
  /* transform-style: preserve-3d; */
}
.kash_operations_home--main-card > h2 {
  font-size: 1.4rem;
}
.kash_operations_home--main-card:hover {
  transform: scale(1.1);
  background-color: var(--light-characteristic-color);
  color: var(--card-holder-color);
  box-shadow: 0 0 21px 8px var(--glow-shadow-lighter),
    0 0 7px var(--glow-shadow-darker);
}
.main-card--details_tag {
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translate(0, -50%) rotateY(-60deg);
  color: #fff;
  background-color: var(--characteristic-color);
  padding: 0.5rem;
  opacity: 0;
  width: 18ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  height: 14ch;
}
.main-card--details_tag p {
  line-height: 1;
}
.employee-card--details_tag {
  --characteristic-color: #ff9135;
}
.timesheet-card--details_tag {
  --characteristic-color: #30bc70;
}

.invoice-card--details_tag {
  --characteristic-color: #e43b8c;
}
.employee-card--details_tag,
.timesheet-card--details_tag,
.invoice-card--details_tag {
  border-radius: 0.5rem 0 0 0.5rem;
  /* left: -85%; */
  left: -16ch;
  padding-right: 2rem;
  transform-origin: right;
}
.client-card--details_tag {
  --characteristic-color: #2a748a;
  border-radius: 0 0.5rem 0.5rem 0;
  right: -16ch;
  padding-left: 2rem;
  transform-origin: left;
}

.kash_operations_home--interactive-card-watermark {
  position: absolute;
  text-align: center;
  font-weight: 900;
  color: var(--watermark-text-color);
  font-size: 20vh;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  max-width: 3.5ch;
  transform: translate(-50%, -50%);
  line-height: 1;
  z-index: 0;
  transition: transform 0.2s cubic-bezier(0.53, -0.07, 0.86, 0.57);
}
.employees-card-watermark {
  --watermark-text-color: #f5c69f;
  opacity: 0;
}
.clients-card-watermark {
  --watermark-text-color: #7ec5dd;
  opacity: 0;
}
.timesheets-card-watermark {
  --watermark-text-color: #54c488;
  opacity: 0;
}

.invoices-card-watermark {
  --watermark-text-color: #e43b8c;
  opacity: 0;
}
.kash_operations_home--main-card {
}
.kash_operations_home--employees-card {
  --card-holder-color: #f57407;
  --light-characteristic-color: #fbe0ca;
  --glow-shadow-darker: hsla(27 94% 49% / 100%);
  --glow-shadow-lighter: hsla(27 97% 58% / 26%);
}
.kash_operations_home--clients-card {
  --card-holder-color: #047ca3;
  --light-characteristic-color: #eef8fb;
  --glow-shadow-darker: hsla(195 84% 32% / 100%);
  --glow-shadow-lighter: hsla(195 100% 39% / 40%);
}

.kash_operations_home--timesheets-card {
  --card-holder-color: #54c488;
  --light-characteristic-color: #d8fbe8;
  --glow-shadow-darker: hsla(148 55% 57% / 100%);
  --glow-shadow-lighter: hsla(195 60% 70% / 64%);
}

.kash_operations_home--invoices-card {
  --card-holder-color: #e43b8c;
  --light-characteristic-color: #ffd0e7;
  --glow-shadow-darker: hsla(331 75% 56% / 100%);
  --glow-shadow-lighter: hsla(331 75% 56% / 30%);
}

.kash_operations_home--employees-card:hover {
}
.kash_operations_home--employees-card--wrapper:hover
  ~ .employees-card-watermark {
  opacity: 1;
  transform: translate(10%, -50%);
}
.kash_operations_home--clients-card--wrapper:hover ~ .clients-card-watermark {
  opacity: 1;
  transform: translate(-120%, -50%);
}
.kash_operations_home--timesheets-card--wrapper:hover
  ~ .timesheets-card-watermark {
  opacity: 1;
  transform: translate(20%, -50%);
}

.kash_operations_home--invoices-card--wrapper:hover ~ .invoices-card-watermark {
  opacity: 1;
  transform: translate(0%, -50%);
}

/* ################################################################### */

/* ################################################################### */

/* Media Queries */

/* ################################################################### */

/* ################################################################### */

@media (min-width: 900px) {
  .kash_operations_home--top-banner {
    gap: 3rem;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  .kash_operations_home--title {
    text-align: start;
  }
}

/* ################################################################### */

/* ################################################################### */

/* Hub Pages */

/* ################################################################### */

/* ################################################################### */

.timesheet-report-header {
  padding: 1rem;
}

.kash_operations--upper-section-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.kash_operations--hub-page--main a {
  text-decoration-line: none;
}
.employees-hub-page-main.max-width--main-container,
.clients-hub-page-main.max-width--main-container,
.timesheets-hub-page-main.max-width--main-container,
.invoices-hub-page-main.max-width--main-container {
  max-width: 1000px;
  padding-bottom: 2rem;
  flex-direction: column;
}
.kash_operations--hub-page--main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.kash_operations--hub-title {
  text-transform: uppercase;
  font-size: clamp(35px, 10px + 10vw, 120px);
  font-weight: 900;
}
.kash_operations--upper-section-holder a.return-to-operations-hub {
  display: flex;
  /* background-color: #dbf0f6; */
  background-color: #f6f8f9;
  color: #255463;
  padding: 1rem;
  border-radius: 0.5rem;
  align-items: center;
}
.kash_operations--upper-section-holder a.return-to-operations-hub:hover {
  text-decoration-line: underline;
  background-color: #dbf0f6;
  color: #0f9936;
}
.return-to-operations-hub svg {
  padding: 0 0.2rem;
  height: 1rem;
  width: 0.9rem;
  margin-right: 1rem;
}
.hub_page--main-actions-holder {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 4rem;
  align-items: center;
}
.hub_page--main-actions-holder > * {
  /* flex-basis: 43%; */
  font-weight: 900;
  font-size: 1.8rem;
  padding: 1ch;
  border: 7px solid var(--characteristic-color);
  border-radius: 0.5rem;
  height: clamp(350px, 40vw, 420px);
}
.hub_page--main-action-link {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 85%;
}
.hub_page--main-action-link.employee_hub--main-action-link:hover {
  background-color: #224550;
}
.hub_page--main-action-link.client_hub--main-action-link:hover {
  background-color: #0f495b;
}
.hub_page--main-action-link.timesheet_hub--main-action-link:hover {
  background-color: #296c50;
}

.hub_page--main-action-link.invoice_hub--main-action-link:hover {
  color: #fff;
  background-color: #94295c;
}

.hub_page--main-action-link > p {
  margin-top: auto;
}
.hub_page--main-action-link > svg {
  align-self: flex-end;
  width: clamp(50px, 25%, 100px);
  height: auto;
  margin-top: auto;
}
.hub_page--main-action-link > svg * {
  fill: var(--characteristic-color);
}
.hub_page--main-action-link:nth-child(2n + 2) {
  background-color: var(--characteristic-color);
  color: #fff;
}
.hub_page--main-action-link:nth-child(2n + 2) > svg * {
  fill: #fff;
}
.client_hub--admin-links-holder {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.employee_hub--admin-links-holder {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.hub_page--secondary-actions-holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 225px;
}

.add-company-link {
  --admin-link-underline-bg: #047ca3;
}
.add-project-link {
  --admin-link-underline-bg: #a790b9;
}
.add-company_contact-link {
  --admin-link-underline-bg: #0e8973;
}
.edit-company_contact-link {
  --admin-link-underline-bg: linear-gradient(90deg, #0e8973 0%, #f6db98 100%);
}
.edit-company-link {
  --admin-link-underline-bg: linear-gradient(
    90deg,
    #0f495b 0%,
    #7fd993 51.95%,
    #0f495b 100.75%
  );
}
.edit-project-link {
  --admin-link-underline-bg: linear-gradient(
    90deg,
    #ad5dfd 0%,
    #ffb7e6 51.95%,
    #ad5dfd 100.75%
  );
}
.add_employee-admin-link {
  --admin-link-underline-bg: #fa9b4b;
}
.edit_employee-admin-link {
  --admin-link-underline-bg: linear-gradient(
    90deg,
    #fa9b4b 0%,
    #d46363 50%,
    #c46fcc 100.75%
  );
}
.roles_and_responsibilities-admin-link {
  --admin-link-underline-bg: linear-gradient(
    90deg,
    #fa9b4b 0%,
    #f8fa98 51.95%,
    #67d05e 100.75%
  );
}
.hub_page--secondary-action-link {
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  display: block;
  position: relative;
}

.manage_invoice-admin-link {
  --admin-link-underline-bg: linear-gradient(
    90deg,
    rgba(228, 59, 140, 1) 0%,
    rgba(252, 181, 186, 1) 100%
  );
}

.hub_page--secondary-action-link::after {
  content: "";
  position: absolute;
  transform-origin: center left;
  border-radius: 2px;
  height: 2px;
  bottom: -2px;
  left: 0;
  width: 100%;
  /* background: var(--admin-link-underline-bg, #439ebc); */
  background: var(--admin-link-underline-bg);
  transform: scale(0, 0);
}
.hub_page--secondary-action-link:hover::after {
  animation: stretchAndGrow 0.6s ease-out forwards;
}
@keyframes stretchAndGrow {
  0% {
    transform: scale(0, 0);
  }
  30% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 3);
  }
}

.hub_page--secondary-action-link:hover {
  /*color: #38b0f3;*/
  color: #1c757b;
}
#clients-hub--admin-links-fex-iframe,
#employees-hub--admin-links-fex-iframe {
  display: none;
}

.employees-hub-page-main {
  --characteristic-color: #fa9b4b;
  color: var(--characteristic-color);
}
.clients-hub-page-main {
  --characteristic-color: #439ebc;
  color: var(--characteristic-color);
}
.timesheets-hub-page-main {
  --characteristic-color: #54c488;
  color: var(--characteristic-color);
}
.invoices-hub-page-main {
  --characteristic-color: #e43b8c;
  color: var(--characteristic-color);
}
.activity_hub--admin_links_title {
  text-align: center;
  align-self: stretch;
  margin: 0.3rem 0;
  position: relative;
}
.client_hub--admin_links_title {
  color: #2083a1;
}
.employee_hub--admin_links_title {
  color: #f68627;
}

.invoice_hub--admin_links_title {
  color: #e43b8c;
}
.activity_hub--admin_links_title::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  height: 5px;
  background: #165c72;
}
/* .client_hub--add-title::after {
  background: #165c72;
} */
.client_hub--add-title::after,
.client_hub--edit-title::after {
  background: linear-gradient(90deg, #2083a1 0%, #cda0dd 100%);
}
.employee_hub--add-title::after {
  background: #fca358;
}

.employee_hub--edit-title::after {
  background: linear-gradient(90deg, #f79542 0%, #fd7979 100%);
}

.invoice_hub--add-title::after {
  background: linear-gradient(
    90deg,
    rgba(228, 59, 140, 1) 0%,
    rgba(252, 181, 186, 1) 100%
  );
}
/* ################################################################### */

/* ################################################################### */

/* Media Queries */

/* ################################################################### */

/* ################################################################### */

@media (min-width: 650px) {
  .kash_operations--hub-title {
    font-size: clamp(40px, 15px + 10vw, 70px);
  }

  .kash_operations_home--user-welcome-msg {
    flex-basis: 100%;
  }

  .main-card--details_tag {
    transition: opacity 0.3s 0.3s linear, transform 0.3s 0.3s ease-out;
  }
  .kash_operations_home--main-card:hover ~ .main-card--details_tag {
    opacity: 1;
    transform: translate(0, -50%) rotateY(0deg);
  }
  .main-card--details_tag p {
  }

  .hub_page--main-actions-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }
  .hub_page--main-actions-holder > * {
    flex-basis: 35%;
    font-weight: 900;
    font-size: 2rem;
    padding: 1ch;
    border: 7px solid var(--characteristic-color);
    border-radius: 0.5rem;
    height: clamp(300px, 40vw, 320px);
    width: unset;
  }
  .hub_page--main-action-link {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/********These are hidden for the security piece on load. Display for these will be shown again when user authenticates with the admin table***************/
/*.kash_operations_home--employees-card--wrapper{
      display: none;
  }
  .kash_operations_home--clients-card--wrapper{
      display: none;
  }*/
