.ManageEmployees--heading {
  padding: 1rem;
}

.ManageEmployees--main-container {
  padding: 0;
}

.AddEmployee--content-wrapper {
  background-color: #ffe1bd;
}

.ManageEmployees--add-tab {
  background-color: #ffe1bd;
  color: #ff981c;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.ManageEmployees--edit-tab {
  --edit-employee-tab-color: #d4f6cd;
  background-color: var(--edit-employee-tab-color);
  color: #2a8519;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
