.ManageInvoices--main-container {
  padding: 0;
}

.ManageInvoices--heading {
  padding: 1rem;
}

.ManageInvoices--tabs-container {
  width: 70%;
  padding: 0;
  margin: -1px;
  list-style: none;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.ManageInvoices--tab {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 45px;
  text-align: center;
}

.ManageInvoices--tab-active span {
  -webkit-box-shadow: 0px 12px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 12px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 12px 5px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 0;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.ManageInvoices--tabs-container li:hover {
  height: 50px;
  cursor: pointer;
}

.ManageInvoices--tab span {
  padding: 0 1rem;
}

.ManageInvoices--tab-not-active {
  height: 45px;
  z-index: 0;
}

.ManageInvoices--tab-active {
  height: 55px !important;
  z-index: 4;
}

.ManageInvoices--new-tab {
  background-color: #ffe4f1;
  color: #fb68af;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.ManageInvoices--modify-tab {
  background-color: #fb68af;
  color: #ffe4f1;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.ManageInvoices--modify-invoice-tab-content {
  background-color: #fb68af;
  height: 100dvh;
}

.ManageInvoices--new-invoice-tab-content {
  background-color: #ffe4f1;
  /* height: 100dvh; */
  padding: 1rem;
}

.ManageInvoices--create-new-invoice-btn {
  background: transparent;
  color: #26515f;
  width: 11rem;
  max-width: 11rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ManageInvoices--create-new-invoice-btn svg {
  color: #fb68af;
}

/* ================================================================================
New Timesheet Invoice Workflow and Component Styles
=================================================================================== */

.new-invoice-heading {
  color: #00af83;
  margin-bottom: -20px;
}

/* New TS Invoice Filter START */
.invoice-filter-form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
  position: relative;
  grid-template-rows: repeat(3, 50px);
}

.invoice-filter--company {
  grid-column: 1 /3;
  grid-row: 2 / 3;
  position: absolute;
  bottom: 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.invoice-filter--project {
  grid-column: 3 /5;
  grid-row: 2 / 3;
  position: absolute;
  bottom: 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.invoice-date-range-form-group {
  grid-column: 5 / 9;
  position: relative;
}

.invoice-filter-date-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
  align-items: end;
  justify-content: space-between;
  width: 95%;
}

.invoice-filter-date-wrapper div {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 48%;
  justify-content: space-between;
}

.invoice-date-range-form-group {
  flex-direction: column; /* display: flex; is set inline with a ternary to handle conditional rendering of date range filter*/
  background-color: #beeadf;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 20px;
  grid-row: 1 / 3;
}

.invoice-date-range-form-group h5 {
  color: #00af83;
}

.invoice-filter-form select {
  width: 100%;
}

.invoice--apply-filters-btn {
  grid-column: 8/9;
  grid-row: 3/4;
}

/* New TS Invoice Filter END */

/* NEW INVOICE RE4CORDS */
.new-invoice--from-timesheet-container {
  background-color: #fff;
  margin: 1rem 0;
  padding: 0.75rem 1.25rem;
  border-radius: 20px;
}

.new-invoice--from-timesheet-container header {
  border-bottom: 2px solid #d9d9d9;
}

.invoice-company-projects-container {
  margin-top: 0.5rem;
}

/* Invoice Header Styles */
.invoice--title {
  text-transform: uppercase;
  font-weight: bolder;
  color: #cf4688;
}

.invoice--company-name {
  margin-bottom: 0.5rem;
  margin-bottom: 0;
  color: #4599fb;
  text-transform: uppercase;
}

.invoice--company-details {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.invoice--date-range {
  display: flex;
  color: #838383;
  width: 40%;
  justify-content: space-between;
}

.invoice--project-description span {
  color: #9cc0cc;
}

.invoice--project-description {
  color: #047ca3;
}

.invoice-company-project {
  margin-top: 0.75rem;
}

.invoice-details-by-resource details summary {
  background-color: #ffdecc;
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 150px)) 50px;
  align-items: center;
  padding: 0 0.25rem;
  height: 55px;
}

.invoice-details-by-resource details summary h6 {
  grid-column: 1/4;
  margin-bottom: 0;
  font-weight: bolder;
}

.invoice--user-record-totals-row {
  grid-column: 4 / 8;
  display: grid;
  grid-template-columns: repeat(4, minmax(75px, 150px));
  margin-bottom: 0;
}

.invoice--user-records-container header {
  border-bottom: 2px solid #d9d9d9;
  margin: 0.25rem;
}

.new-invoice--from-timesheet-container header ol {
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 150px)) 50px;
  margin-bottom: 0.25rem;
}

.invoice--user-record-details {
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 150px)) 50px;
}

.new-invoice--from-timesheet-container ol {
  padding-left: 0;
  list-style: none;
}

.invoice-details-by-resource details {
  border: 3px solid #d3eded;
  border-radius: 10px;
  padding: 0;
  margin: 1rem 0;
}

.invoice-details-by-resource details:hover {
  background-color: transparent;
}

.ManageInvoices--new-invoice-tab-inner-content {
  max-width: 1050px;
  margin: 0 auto;
  /* border: 1px solid; */
}
.invoice--user-record-totals-item input,
.invoice--user-record-details input {
  width: 80%;
}

.invoice--user-record-details-container {
  margin: 1rem 0.25rem;
}

.invoice--project-sub-total ol {
  display: grid;
  grid-template-columns: repeat(7, minmax(75px, 150px)) 50px;
  list-style: none;
  background-color: #d9fad1;
  align-items: center;
  border-radius: 5px;
  margin: 1rem 0 1.5rem 0;
  height: 42px;
  padding: 0 0.6rem;
}

.invoice--project-sub-total {
  border-top: 1px solid #d9d9d9;
  border-bottom: 3px solid #606060;
}

.invoice--project-sub-total ol li:first-child {
  font-weight: bolder;
  grid-column: 1 / 3;
}
.invoice--project-sub-total ol li:nth-child(2) {
  grid-column: 3 / 7;
  color: #d191f0;
  font-weight: bolder;
}

.invoice--project-sub-total ol li:nth-child(2) span {
  color: #92c7d9;
  margin-left: 5px;
}

.invoice--project-sub-total ol li:last-child {
  grid-column: 7 / 8;
  color: #09bc25;
}
/* ================================================================================
Choose New Invoice Type Modal
=================================================================================== */

.invoice-type-modal-container[open] {
  opacity: 1;
  transform: translate(0, 0) !important;
  animation: slideIn 0.2s ease-in forwards;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.new-invoice-type {
  border: none;
  height: 5rem;
  padding: 0.8rem 2rem !important;
  margin: 0 0 0.5rem 0;
  max-width: 300px;
  width: 100%;
  border-radius: 25px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e7fff2 !important;
}

.new-invoice-type-selection {
  width: 100%;
}

.new-ts-invoice-choice {
  background-color: #54c488 !important;
}
.new-blank-invoice-choice {
  background-color: #e43b8c !important;
}

.new-invoice__page-title {
  color: #68889f;
}

.new-invoice-type svg {
  font-size: 1.5rem;
}

.close-modal-icon {
  color: #68889f;
  text-align: right;
}

.close-modal-icon:hover {
  cursor: pointer;
}

.new-invoice-type h6 {
  font-size: 0.85rem;
}

/* MEDIA QUERIES */
/* @media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) { */
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .new-invoice-type-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/7;
  }

  .new-invoice-type {
    width: 48%;
  }

  .invoice-type-modal-container[open] {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .new-invoice__page-title {
    grid-column: 1/6;
  }

  .close-modal-icon {
    grid-column: 6/7;
  }
}
