body {
  padding: unset;
}

.NavBar--svg-logo {
  height: 2.5rem;
}

.NavBar {
  -webkit-box-shadow: 0 4px 12px -6px #222;
  -moz-box-shadow: 0 4px 12px -6px #222;
  box-shadow: 0 4px 12px -6px #222;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  height: 70px;
  padding: 0 1rem;
  justify-content: space-between;
}

.NavBar--nav-links-list li {
  display: flex;
  align-content: center;
  /* justify-content: center; */
  max-width: 4rem;
}

.NavBar--user-hub-link-container {
  width: 90%;
}

.NavBar--nav-links-list li a,
.NavBar--nav-links-list li p {
  font-size: 14px;
}

.NavBar--control-center-link {
  text-decoration: none;
  border-bottom: 2px solid #297ab4;
  font-size: 0.8rem;
  width: 70%;
}

.NavBar--nav-links-list {
  list-style: none;
  margin-bottom: unset;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  padding-left: 1rem;
  justify-content: end;
  grid-gap: 5px;
}

.NavBar--user-hub-link-container {
  justify-content: end;
}

.NavBar--user-hub-link-container:hover {
  color: #ffa564;
}

.NavBar--control-center-link-container:hover {
  color: #297ab4;
}

.NavBar--user-icon svg {
  color: #336045;
  border: 2px solid #ffa564;
  padding: 0.5rem;
  border-radius: 50%;
  height: 0.8rem;
}

.NavBar--user-icon:hover {
  cursor: pointer;
}

.NavBar--user-hub-link {
  border-bottom: 2px solid #ff922d;
  font-size: 0.8rem;
  text-decoration: none;
  width: 70%;
}

.NavBar--profile-nav-link-hide {
  /* display: none; */
  position: absolute;
  display: block;
  height: 132px;
  width: 244px;
  right: 3rem;
  top: 2rem;
  box-shadow: 0px 0px 8px #ccc;
  animation: slideOut 0.5s ease 0s 1 normal forwards;
}

.NavBar--profile-nav-link-show {
  position: absolute;
  display: block;
  height: 132px;
  width: 244px;
  right: 3rem;
  top: 2rem;
  animation: slideIn 0.5s ease 0s 1 normal forwards;
  box-shadow: 0px 0px 8px #ccc;
}

.NavBar--profile-nav-link-show ol,
.NavBar--profile-nav-link-hide ol {
  list-style: none;
  padding-left: unset;
  margin-bottom: unset;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.NavBar--username-nav-display {
  background-color: #dff2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBar--username-nav-display span:first-child {
  display: flex;
}

/* close - x - icon on nav dropdown link div */
.NavBar--username-nav-display span:last-child {
  margin-bottom: 15px;
  margin-left: 45px;
  color: #ff922d;
}

.NavBar--username-nav-display span:last-child:hover {
  cursor: pointer;
}

.NavBar--username-display {
  color: #20a1ff;
}

.NavBar--logout-link,
.NavBar--change-password-link {
  background-color: #fff;
}

.NavBar--profile-nav-link-show li {
  padding: 0.5rem 0.75rem;
  height: 33.333%;
}

.NavBar--username-nav-display-label {
  margin-right: 0.5rem;
}

.NavBar--logout-link:hover,
.NavBar--change-password-link:hover {
  cursor: pointer;
  background-color: #ffe6d4;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}

@media (min-width: 650px) {
  .NavBar--nav-links-list {
    grid-gap: 15px;
  }

  .NavBar--user-hub-link {
    width: 100%;
  }

  .NavBar--nav-links-list li {
    max-width: 6rem;
  }

  .NavBar--user-hub-link-container {
    width: 100%;
  }
  .NavBar--control-center-link {
    width: 100%;
  }
}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .NavBar--nav-links-list {
    width: 23rem;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .NavBar--nav-links-list {
    width: 23rem;
  }
} */
