.timesheet-report-container {
  width: 90%;
  background-color: #fff;
  margin: 0 auto;
}

.timesheet-report-content-warpper {
  background-color: #a2d299;
  padding: 1.5rem 0px;
}

.timesheet-report-container .MuiDataGrid-toolbarContainer button {
  color: #54c488;
}
